html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

h1 {
  font-family: Georgia;
  font-size: 25px;
  color: #0000ff;
}

#login_form {
  text-align: center;
  padding-top: 200px;
}

#login_form input {
  margin-left: 10px;
}

#login_form input[type=text] {
  width: 150px;
}

#chat {
  margin: 0 20px;
  padding: 10px;
  background: #efefef;
}


#messages {
  height: 50%;
  padding: 5px;
  overflow: auto;
}

#messages li {
  padding: 5px 0px;
  border-bottom: 1px solid #80ff00;
  font-size: 14px;
}

#messages li span {
  font-weight: bold;
}

#logout {
  float: right;
}

#message_form_container input[type="text"] {
  border: 2px solid #0080ff;
  font-size: 15px;
  padding: 2px;
  width: 50%;
}

#message_form_container input[type="submit"] {
  -webkit-border-radius: 2px;
  background: #80ff00;
  border: 0px;
  padding: 5px;
  font-size: 14px;
  margin: 4px;

}