<% content_for :head do %>
  <%= socky :client_id => params[:client_id] %>
<% end %>

<div id="chat">
  <div id="messages"></div>
  <a href="/" id="logout">Logout</a>
  <% form_remote_tag :url => message_socky_path do %>
    <%= hidden_field_tag :current_user, params[:client_id] %>
    <%= text_field_tag :message %>
    <%= submit_tag "Send message" %>
  <% end %>
</div>