<div id="login_wrapper">
	<div id="wrapper">
		<p>Welcome to <a href="http://github.com/socky">socky</a> chat!</p>
		<p>To enter chat please enter your nick</p>
		<%= form_tag chat_path, :method => :get, :id => "login_form" do %>
		    <%= text_field_tag :login, "", :class => "text" %>
		    <%= submit_tag "Enter", :class => "submit" %>
		<% end %>
	</div>
</div>